

.footer {
    background-color: #282E4C;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 3.75rem;
    margin: auto;
    padding: 1.875rem;
    border-radius: 0.375rem;
    margin-top: 6.25rem;
}


