#chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
}

.chatbox {
    position: relative;
    width: 100%;
}

.x {
    position: absolute;
    top: -1.563rem;
    right: -0.625rem;
    font-size: 0.8rem;
    padding: 0.125rem 0.3125rem;
    border-radius: 50%;
    border-width: 0.2rem;
}

.chatbot-response {
    width: 50%;
    margin-right: auto;
    font-family: Helvetica, sans-serif;
    background-color: #9497A8;
    color: #EFE3CA;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

.user-message {
    width: 50%;
    margin-left: auto;
    font-family: Helvetica, sans-serif;
    background-color: #656981;
    color: #E6D6B5;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input::placeholder {
    color: #656981;
}

input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    border: 2px solid #9497A8;
    border-radius: 0.1875rem;
    background-color: #EFE3CA;
    color: #9497A8;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #9497A8;
}

.x {
    position: absolute;
    top: -1.563rem;
    right: -0.625rem;
    font-size: 0.8rem;
    padding: 0.125rem 0.3125rem;
    border-radius: 50%;
    border-width: 0.2rem;
}
