#about h3 {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.563rem;
}

#about p {
    text-align: center;
}

.toggler {
    position: absolute;
    background-color: #81859A;
    cursor: pointer;
    left: 0 !important;
    font-size: medium;
    color: #E1CDA1;
    margin-top: 0;
    border-radius: .2rem;
    border: none;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

.toggler a:hover {
    background-color: #E1CDA1;
    color: #81859A;
}