.toggler {
    background-color: #81859A;
    cursor: pointer;
    font-size: medium;
    color: #E1CDA1;
    border-radius: .2rem;
    border: none;
    display: inline-block;
    margin: 0;
    position: static !important;
    left: auto !important;
    font-weight: normal;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0.5rem auto;
    width: 100%;
    text-align: center;
    gap: 35.625rem;
    padding: 0 1.25rem;
    box-sizing: border-box;
}

.toggler a:hover {
    background-color: #E1CDA1;
    color: #81859A;
}

#about h3 {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.563rem;
}

#about p {
    text-align: center;
}

#sem {
    font-size: 1.25rem !important;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 !important;
    color: #D8BE87 !important;
}