#navbar {
    display: flex;
    justify-content: space-evenly;
    background: #282E4C;
    padding: 1.25rem 0;
    align-items: center;
}

#darkModeToggle {
    background: none !important;
    border: none !important;
}

#darkMode {
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
}

#darkMode:hover {
    filter: brightness(0.8);
    transition: filter 0.2s;
}

#navbar a {
    color: #E1CDA1;
    text-decoration: none;
    font-size: 1.875rem;
    transition: color 0.2s;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

#navbar a:hover {
    color: #c1a569;
}

#navbar h1 {
    font-style: normal;
    color:#EFE3CA;
    font-size: 3.75rem;
}

#name:hover {
    color: #c1a569;
    text-shadow: 0 0 5px rgba(193, 166, 105, 0.8);
    transition: color 0.2s;
    cursor: pointer;
}
