.github {
    border-width: 0.15rem;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
}

.project button {
    padding-left: 0.5rem;
    color: #E1CDA1;
    background-color: #282E4C;
    border: none;
}

.project button:hover {
    color: #282E4C;
    background-color: #E1CDA1;
}

.github-inline {
    transition: filter 0.2s;
}

button:hover .github-inline {
    filter: invert(0);
}

.github-inline {
    margin-bottom: -0.21875rem;
    margin-right: 0.0625rem;
    filter: invert(1);
}

.h4 {
    color: #E0E1DD;
    font-family: Helvetica, sans-serif;
}