body {
  font-family: "instrument-serif", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #f3efe3;
  color: #D8BE87;
}

#spacer {
  height: 13.125rem;
}

#sem2 {
    font-size: 1.25rem !important;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 0 0.5rem 5.625rem !important;
    color: #D8BE87 !important;
}

#about,
#chat,
#projects,
#exp {
  width: 60%;
  margin: 1.875rem auto;
  background-color: #282E4C;
  padding: 1.875rem;
  border-radius: 0.375rem;
}

#projects h2,
#about h2,
#chat h2,
#exp h2 {
  text-align: center;
  font-size: 2.188rem;
  margin-bottom: 0.9375rem;
  position: relative;
}

#exp h3 {
  color: #EFE3CA;
  font-size: 1.563rem;
}

#exp h4 {
  font-family: Helvetica, sans-serif;
  font-weight: 600;
}

#exp p,
#exp ul {
  font-family: Helvetica, sans-serif;
}

#projects h4 {
  color: #EFE3CA;
  font-family: Helvetica, sans-serif;
}

#projects p {
  font-family: Helvetica, sans-serif;
}

.project,
.job {
  background: #81859A;
  margin: 0 auto;
  margin-bottom: 1.875rem;
  width: 75%;
  padding: 1.5625rem;
}

#projects li,
.job li {
  margin-left: 1.5625rem;
}

button {
  padding: 0.4rem 0.8rem;
  border: 0.2rem solid #9497A8;
  border-radius: 0.2rem;
  background-color: #9497A8;
  color: #EFE3CA;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #797d90;
  color: #bead89;
}

#paratext {
  justify-content: center;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #81859A;
}

@keyframes fadeInUp {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

#githubchartcontainer {
  width: 60%;
  margin: 1.875rem auto;
  background-color: #282E4C;
  padding: 1.875rem;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#githubchartcontainer h2{
  color: #EFE3CA;
  text-align: center;
}

#chartcontainer {
  width: 80%;
  margin: 1.25rem auto;
  background-color: #D8BE87;
  padding: 1.875rem;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grade {
  font-weight: normal !important;
  font-style: italic;
  margin-top: 5px;
  color: #EFE3CA !important;
}